<div class="login-container">

  <div class="login-card">

    <!-- LOGO -->

   <div class="logo">
  <img
    src="assets/global logo/nextlogo.png"
    alt="NextZiel Logo"
    class="logo-img"
  >
</div>

    <p class="subtitle">
      Track your applications professionally
    </p>

    <!-- FORM -->

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onLogin()"
    >

      <!-- EMAIL -->

      <div class="form-group">

        <label>
          Email Address
        </label>

        <input
          type="email"
          class="form-control custom-input"
          formControlName="email"
          placeholder="Enter your email"
        >

      </div>

      <!-- PASSWORD -->

      <div class="form-group">

        <label>
          Password
        </label>

     <div class="password-wrapper">

  <input
    [type]="showPassword ? 'text' : 'password'"
    class="form-control custom-input"
    formControlName="password"
    placeholder="Enter your password">

  <i
    class="bi"
    [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
    (click)="togglePasswordVisibility()">
  </i>

</div>

      </div>

      <!-- OPTIONS -->

      <div class="login-options">

        <a routerLink="/forgot-password">
  Forgot Password?
</a>

      </div>

      <!-- BUTTON -->

      <button
        type="submit"
        class="btn login-btn"
      >

        {{ isLoading ? 'Loading...' : 'Login' }}

      </button>

    </form>

  

 <!-- REGISTER -->

<div class="register-link">

  Don't have an account?

  <a routerLink="/register">
    Register
  </a>

</div>

<!-- HELP -->

<div class="help-section">

  <p class="help-text">
    Need help getting started?
  </p>

  <a
    href="https://midhunashok.github.io/nextziel-docs/"
    target="_blank"
    rel="noopener noreferrer"
    class="help-link">

    <i class="bi bi-journal-bookmark me-2"></i>

    Read the Documentation

    <i class="bi bi-box-arrow-up-right ms-1"></i>

  </a>

</div>

  </div>

</div>