.login-container {

  min-height: 100vh;

  background: #f3f4f6;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 20px;

}

/* CARD */

.login-card {

  width: 100%;
  max-width: 450px;

  background: #ffffff;

  padding: 40px;

  border-radius: 20px;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.08);

  border: 1px solid #e5e7eb;

}

/* LOGO */
.logo {
  text-align: center;
  margin-bottom: 5px;
}

// .logo {

//   font-size: 32px;
//   font-weight: 700;

//   color: #2563eb;

//   margin-bottom: 10px;
//   text-align: center;

// }


.logo-img {
  width: 180px;
  max-width: 100%;
  height: auto;
}

/* SUBTITLE */

.subtitle {

  margin-top: 10px;
  margin-bottom: 30px;

  color: #6b7280;

  font-size: 16px;
  text-align: center;

}

/* FORM */

.form-group {

  margin-bottom: 20px;

}

.form-group label {

  display: block;

  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 600;

  color: #374151;

}

/* INPUT */

.custom-input {

  height: 52px;

  border-radius: 12px;

  border: 1px solid #d1d5db;

  padding: 0 16px;

  font-size: 15px;

  transition: all 0.3s ease;

}

.custom-input:focus {

  border-color: #2563eb;

  box-shadow:
    0 0 0 4px rgba(37, 99, 235, 0.1);

}

/* OPTIONS */

.login-options {

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 5px;
  margin-bottom: 25px;

}

.login-options a {

  text-decoration: none;

  color: #2563eb;

  font-size: 14px;
  font-weight: 500;

}

/* BUTTON */

.login-btn {

  width: 100%;
  height: 52px;

  border-radius: 12px;

  background: linear-gradient(
    135deg,
    #2563eb,
    #4f46e5
  );

  color: white;

  font-size: 16px;
  font-weight: 600;

  border: none;

  transition: all 0.3s ease;

}

.login-btn:hover {

  transform: translateY(-2px);

  box-shadow:
    0 10px 20px rgba(37, 99, 235, 0.25);

}

/* REGISTER */

.register-link {

  margin-top: 25px;

  text-align: center;

  color: #6b7280;

}

.register-link a {

  text-decoration: none;

  color: #2563eb;

  font-weight: 600;

}

/* RESPONSIVE */

@media (max-width: 600px) {

  .login-card {

    padding: 25px;

  }

  .logo {

    font-size: 26px;

  }

}