<nav class="navbar-custom">

  <!-- LEFT -->

  <div class="left-section">

    <button
      class="menu-btn"
      (click)="toggleSidebar.emit()"
    >

      <i class="bi bi-list"></i>

    </button>

    <div class="search-box">

      <i class="bi bi-search"></i>

      <input
        type="text"
        placeholder="Search..."
      >

    </div>

  </div>

  <!-- RIGHT -->

  <div class="profile">

    <div class="avatar">
      MA
    </div>

    <span>
      Midhun
    </span>

  </div>

</nav>