<div class="register-container">

    <div class="register-card">
  
      <div class="logo-section">
  
        <img
          src="assets/logo/logo.png"
          alt="Smart Job Tracker Logo"
          class="app-logo"
        />
  
        <h1>Create Account</h1>
  
        <p class="subtitle">
          Start tracking your job applications professionally
        </p>
  
      </div>
  
      <form>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Full Name</mat-label>
          <input matInput type="text">
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email Address</mat-label>
          <input matInput type="email">
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password">
        </mat-form-field>
  
        <button
          mat-raised-button
          color="primary"
          class="register-btn"
        >
          Create Account
        </button>
  
        <div class="divider">
          OR
        </div>
  
        <button
          mat-stroked-button
          class="google-btn"
        >
          Continue with Google
        </button>
  
        <div class="login-link">
          Already have an account?
          <a routerLink="/login">Login</a>
        </div>
  
      </form>
  
    </div>
  
  </div>