<div class="modal-header border-0">

    <h5 class="modal-title fw-bold">
  
      {{ title }}
  
    </h5>
  
    <button
      type="button"
      class="btn-close"
      (click)="activeModal.dismiss()"
    >
    </button>
  
  </div>
  
  
  
  <div class="modal-body text-center">
  
    <div class="mb-3">
  
      <i
        class="bi bi-trash-fill text-danger"
        style="font-size: 50px;"
      ></i>
  
    </div>
  
    <p class="text-muted mb-0">
  
      {{ message }}
  
    </p>
  
  </div>
  
  
  
  <div class="modal-footer border-0">
  
    <button
      class="btn btn-light"
      (click)="activeModal.dismiss()"
    >
  
      Cancel
  
    </button>
  
    <button
      class="btn btn-danger"
      (click)="confirmDelete()"
    >
  
      Delete
  
    </button>
  
  </div>